@model ML.Empleado
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Empleado</h2>
    </div>
    <hr />
    <div class="row">
        <div style="float:right">
            @Html.ActionLink("Agregar Empleado", "Form", "Empleado", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <hr />

    <div class="row">
        @if (Model.Empleados != null)
        {
            //tabla
            <table class="table table-dark table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <td class="text-center" style=" font-weight:bold;">Editar</td>

                        <td style="display: none;">NumeroEmpleado</td>
                        <td class="text-center" style=" font-weight:bold;">Foto</td>
                        <td class="text-center" style=" font-weight:bold;">Nombre</td>
                        <td class="text-center" style=" font-weight:bold;">RFC</td>
                        <td class="text-center" style=" font-weight:bold;">Email</td>
                        <td class="text-center" style=" font-weight:bold;">Telefono</td>
                        <td class="text-center" style=" font-weight:bold;">Fecha Nacimiento</td>
                        <td class="text-center" style=" font-weight:bold;">NSS</td>
                        <td class="text-center" style=" font-weight:bold;">Fecha Ingreso</td>
                        <td class="text-center" style=" font-weight:bold;">NombreEmpresa</td>

                        <td class="text-center" style=" font-weight:bold;">Eliminar</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (ML.Empleado empleado in Model.Empleados)
                    {
                        <tr>
                            <td class="text-center"><a class="bi bi-slash-square-fill" href="@Url.Action("Form", "Empleado", new { NumeroEmpleado = empleado.NumeroEmpleado })"></a></td>

                            <td>
                                @if (empleado.Foto != null)
                                {

                                    <img id="Img" src="data:image/*;base64,@empleado.Foto" style="width:250px ; height:250px" />

                                }
                                else
                                {
                                    <img id="Img" src="~/Imagenes/UserDefault.jpg" style="width:250px ; height:250px" />
                                }
                            </td>

                            <td style="display: none;">@empleado.NumeroEmpleado</td>
                            <td>@empleado.Nombre @empleado.ApellidoPaterno @empleado.ApellidoMaterno</td>
                            <td>@empleado.RFC</td>
                            <td>@empleado.Email</td>
                            <td>@empleado.Telefono</td>
                            <td>@empleado.FechaNacimiento</td>
                            <td>@empleado.NSS</td>
                            <td>@empleado.FechaIngreso</td>

                            <td style="display: none;">@empleado.Empresa.IdEmpresa</td>
                            <td>@empleado.Empresa.Nombre</td>


                            <td class="text-center"><a class="bi bi-trash-fill" href="@Url.Action("Delete", "Empleado", new { NumeroEmpleado = empleado.NumeroEmpleado })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                        </tr>
                    }
                </tbody>
            </table>


        }
        else
        {
            <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
        }
    </div>
</div>

