@model ML.Aseguradora
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Aseguradora</h2>
    </div>
    <hr />
    <div class="row">
        <div style="float:right">
            @Html.ActionLink("Agregar Aseguradora", "Form", "Aseguradora", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>

    <div class="row">
        @if (Model.Aseguradoras != null)
        {
            //tabla
            <table class="table table-dark table-bordered table-responsive">
                <thead>
                    <tr>
                        <td class="text-center" style=" font-weight:bold;">Editar</td>

                        <td style="display: none;">IdAseguradora</td>
                        <td class="text-center" style=" font-weight:bold;">Nombre</td>
                        <td class="text-center" style=" font-weight:bold;">Fecha Creacion</td>
                        <td class="text-center" style=" font-weight:bold;">Fecha Modificacion</td>
                        <td class="text-center" style=" font-weight:bold;">Nombre Usuario</td>

                        <td class="text-center" style=" font-weight:bold;">Eliminar</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (ML.Aseguradora aseguradora in Model.Aseguradoras)
                    {
                        <tr>
                            <td class="text-center"><a class="bi bi-slash-square-fill" href="@Url.Action("Form", "Aseguradora", new { IdAseguradora = aseguradora.IdAseguradora })"></a></td>

                            <td style="display: none;">@aseguradora.IdAseguradora</td>
                            <td>@aseguradora.Nombre</td>
                            <td>@aseguradora.FechaCreacion</td>
                            <td>@aseguradora.FechaModificacion</td>
                            <td style="display: none;">@aseguradora.Usuario.IdUsuario</td>
                            <td>@aseguradora.Usuario.Nombre</td>


                            <td class="text-center"><a class="bi bi-trash-fill" href="@Url.Action("Delete", "Aseguradora", new { IdAseguradora = aseguradora.IdAseguradora })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                        </tr>
                    }
                </tbody>
            </table>


        }
        else
        {
            <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
        }
    </div>
</div>

